<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
        <title>PC builder chatbot</title>
    </head>
    <body>

<div class="container">

    <h1> PC Builder Assistant</h1>

    <div id="chatbox"></div>

    <div class="input-area">

        <input
            id="message"
            placeholder="Ask me to build your PC..."
        >

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>